---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Über mich"
	description="Lorem ipsum dolor sit amet"
	pubDate={undefined}
	updatedDate={undefined}
	heroImage="/memoji_smile.png"
>

<h2>Quickfacts</h2>

<ul>
	<li>Jahrgang 2005</li>
	<li>Student</li>
	<li>Abiturient 2024</li>
	<li>begeistert von Computern, Zukunftstechnologie & Raumfahrt</li>
	<li>Freizeitgestaltung: Handball, Fitnessstudio & Schach</li>
</ul>

</Layout>
