---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/nav/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header title={SITE_TITLE} />
        <main
            class="p-4 min-h-screen font-mono md:max-w-[80ch] xl:max-w-[90ch] m-auto"
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>
